grammar nit in 5.1

s/ The considerations for this is described in Section 8 of [RFC5209]./ The considerations for this are described in Section 8 of [RFC5209].

Done in revision -12
